@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.elephant-text {
    font-family: 'Elephant', sans-serif;
}

@font-face {
    font-family: 'Aptos';
    src: url('/fonts/Aptos-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

.aptos-italic {
    font-family: 'Aptos', sans-serif;
    font-style: italic;
}

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    h4 {
        @apply text-base;
    }

    h5 {
        @apply text-sm;
    }
    h6 {
        @apply text-xs;
    }
}
